 <div class="container mt-5">
        <div class="row">
            <div class="gallery">
                <div class="gallery-item">
                    <img src="https://images.unsplash.com/photo-1719937206094-8de79c912f40?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxMXx8fGVufDB8fHx8fA%3D%3D" alt="Chitwan" class="myImg">
                    <div class="description">
                        <h3>Chitwan</h3>
                        <p>104 Photos</p>
                    </div>
                </div>
                <div class="gallery-item">
                    <img src="https://images.unsplash.com/photo-1719937206094-8de79c912f40?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxMXx8fGVufDB8fHx8fA%3D%3D" alt="Kathmandu" class="myImg">
                    <div class="description">
                        <h3>Kathmandu</h3>
                        <p>89 Photos</p>
                    </div>
                </div>
                <div class="gallery-item">
                    <img src="https://images.unsplash.com/photo-1719937206094-8de79c912f40?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxMXx8fGVufDB8fHx8fA%3D%3D" alt="Summer" class="myImg">
                    <div class="description">
                        <h3>Summer</h3>
                        <p>125 Photos</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-center">
            <button class="btn btn-outline-primary border border-black text-black py-2 px-4 rounded hover:bg-black hover:text-white transition-colors">Load More</button>
        </div>
    </div>
