<div style="margin:{{ get_css_property(info.getDocumentElement('margin'),'20px 0') }}; padding:{{ get_css_property(info.getDocumentElement('padding'),'10px') }};">
	{% if not editmode %}
		<img src="{{ pimcore_image('image').thumbnail('original') }}" class="img-fluid" style="width:100%;" loading="lazy">
	{% else %}
		{{ pimcore_image('image') }}
	{% endif %}
</div>
