
<div class="profile-container mt-5">
  <h1 class="title">{{ pimcore_input("title", {'placeholder': 'Enter Title'}) }}
<span class="dot">.</span></h1><br/>
  <p class="description">
   {{ pimcore_input("description", {'placeholder': 'Enter Description'}) }}
  </p>
</div>


