{% extends 'layout.html.twig' %}
{% block content %}

<div class="container mt-5">

	{{ pimcore_areablock('mypassion', {
        'allowed': ['my-passion']
    }) }}

	<div class ="mt-5">	
    	{{ pimcore_areablock('latest-post', {
        'allowed': ['latest-post']
   		 }) }} 
	</div>
		{{ pimcore_areablock('all-posts-card', {
        'allowed': ['all-posts-card']
   		 }) }} 
</div>

{% endblock %}
